.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #fff;
  max-width: 100%;
  height: auto;
  color: black;
}

.App-logo {
  max-width: 40%;
  height: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 1em;
}
